ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  INCH
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  INCH
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    0001
    DATE-DMY 07/27/19
    ATTRIBUTE1  
    ATTRIBUTE2  
    ATTRIBUTE3  
    ATTRIBUTE4  
    ATTRIBUTE5  
    ATTRIBUTE6  
    ATTRIBUTE7  0001
    ATTRIBUTE8  TESTEPCF
    ATTRIBUTE9  TESTEPCF
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  SIS
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          -1322.5193    -20.8181    1355.0530
END-POSITION-NULL
    CO-ORDS          -1322.5193    -872.1544    963.2699
END-POSITION-NULL
    CO-ORDS          0.0000    -272.5522    1557.5466
END-POSITION-NULL
    CO-ORDS          -1278.9437    -1848.5455    478.9370
END-POSITION-NULL
    CO-ORDS          0.0000    1.5161    2477.1978
END-POSITION-NULL
    CO-ORDS          808.5249    1500.0000    2808.5249
END-POSITION-NULL
    CO-ORDS          0.0000    0.0000    0.0000
PIPE
    END-POINT        -1322.5193    -441.2823    963.2699    2.0000
    END-POINT        -1322.5193    -872.1543    963.2699    2.0000
    ITEM-CODE  PA50
    ITEM-DESCRIPTION  PIPE, SEAMLESS, 40, PE, ASTM A106
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  5.44666969064683
WELD
    END-POINT        -1322.5193    -624.7927    963.2699    2.0000
    END-POINT        -1322.5193    -624.7927    963.2699    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
OLET
    CENTRE-POINT     -1322.5193    -624.7927    963.2699
    BRANCH1-POINT    -1322.5193    -624.7927    1009.4344    0.5000  SW
    SKEY  SKSW
    ITEM-CODE  SKL50X15
    ITEM-DESCRIPTION  SOCKOLET, 3000 LB, BWXSW,  LG, MSS SP-97
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  0.0498956726843872
WELD
    END-POINT        -1322.5193    -624.7927    1009.4344    0.5000
    END-POINT        -1322.5193    -624.7927    1009.4344    0.5000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -1322.5193    -624.7927    1009.4344    0.5000
    END-POINT        -1322.5193    -624.7927    1312.0922    0.5000
    ITEM-CODE  PA15
    ITEM-DESCRIPTION  PIPE, SEAMLESS, 80, PE, ASTM A106
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_80
    WEIGHT  1.62209561825274
WELD
    END-POINT        -1322.5193    -624.7927    1312.0922    0.5000
    END-POINT        -1322.5193    -624.7927    1312.0922    0.5000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        -1322.5193    -624.7927    1312.0922    0.5000  SW
    END-POINT        -1322.5193    -609.0447    1327.8402    0.5000  SW
    CENTRE-POINT     -1322.5193    -624.7927    1327.8402
    SKEY  ELSW
    ITEM-CODE  EB15
    ITEM-DESCRIPTION  ELL 90, 3000 LB, SW, ASME B16.11
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  0.22679851220176
WELD
    END-POINT        -1322.5193    -609.0447    1327.8402    0.5000
    END-POINT        -1322.5193    -609.0447    1327.8402    0.5000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -1322.5193    -609.0447    1327.8402    0.5000
    END-POINT        -1322.5193    -345.2311    1327.8402    0.5000
    ITEM-CODE  PA15
    ITEM-DESCRIPTION  PIPE, SEAMLESS, 80, PE, ASTM A106
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_80
    WEIGHT  1.62209561825274
ELBOW
    END-POINT        -1271.7193    -390.4823    963.2699    2.0000  BW
    END-POINT        -1322.5193    -441.2823    963.2699    2.0000  BW
    CENTRE-POINT     -1322.5193    -390.4823    963.2699
    SKEY  ELBW
    ITEM-CODE  EA50
    ITEM-DESCRIPTION  ELL 90 SR, BW, ASME B16.9
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    WEIGHT  0.45359702440352
WELD
    END-POINT        -1322.5193    -441.2823    963.2699    2.0000
    END-POINT        -1322.5193    -441.2823    963.2699    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -1322.5193    -345.2311    1327.8402    0.5000
    END-POINT        -1322.5193    -345.2311    1327.8402    0.5000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        -1322.5193    -345.2311    1327.8402    0.5000  SW
    END-POINT        -1322.5193    -326.1525    1319.9376    0.5000  SW
    CENTRE-POINT     -1322.5193    -334.0551    1327.8402
    SKEY  ELSW
    ITEM-CODE  EC15
    ITEM-DESCRIPTION  ELL 45, 3000 LB, SW, ASME B16.11
    FABRICATION-ITEM
    ANGLE   4500
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  0.19844869817654
WELD
    END-POINT        -1322.5193    -326.1525    1319.9376    0.5000
    END-POINT        -1322.5193    -326.1525    1319.9376    0.5000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -1322.5193    -326.1525    1319.9376    0.5000
    END-POINT        -1322.5193    -237.3912    1231.1763    0.5000
    ITEM-CODE  PA15
    ITEM-DESCRIPTION  PIPE, SEAMLESS, 80, PE, ASTM A106
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_80
    WEIGHT  1.62209561825274
WELD
    END-POINT        -1322.5193    -237.3912    1231.1763    0.5000
    END-POINT        -1322.5193    -237.3912    1231.1763    0.5000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        -1322.5193    -237.3912    1231.1763    0.5000  SW
    END-POINT        -1322.5193    -218.3126    1223.2737    0.5000  SW
    CENTRE-POINT     -1322.5193    -229.4886    1223.2737
    SKEY  ELSW
    ITEM-CODE  EC15
    ITEM-DESCRIPTION  ELL 45, 3000 LB, SW, ASME B16.11
    FABRICATION-ITEM
    ANGLE   4500
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  0.19844869817654
WELD
    END-POINT        -1322.5193    -218.3126    1223.2737    0.5000
    END-POINT        -1322.5193    -218.3126    1223.2737    0.5000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -1322.5193    -218.3126    1223.2737    0.5000
    END-POINT        -1322.5193    -36.5661    1223.2737    0.5000
    ITEM-CODE  PA15
    ITEM-DESCRIPTION  PIPE, SEAMLESS, 80, PE, ASTM A106
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_80
    WEIGHT  1.62209561825274
WELD
    END-POINT        -1322.5193    -36.5661    1223.2737    0.5000
    END-POINT        -1322.5193    -36.5661    1223.2737    0.5000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        -1322.5193    -36.5661    1223.2737    0.5000  SW
    END-POINT        -1322.5193    -20.8181    1239.0217    0.5000  SW
    CENTRE-POINT     -1322.5193    -20.8181    1223.2737
    SKEY  ELSW
    ITEM-CODE  EB15
    ITEM-DESCRIPTION  ELL 90, 3000 LB, SW, ASME B16.11
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  0.22679851220176
PIPE
    END-POINT        -1322.5193    -20.8181    1239.0217    0.5000
    END-POINT        -1322.5193    -20.8181    1355.0530    0.5000
    ITEM-CODE  PA15
    ITEM-DESCRIPTION  PIPE, SEAMLESS, 80, PE, ASTM A106
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_80
    WEIGHT  1.62209561825274
WELD
    END-POINT        -1322.5193    -20.8181    1239.0217    0.5000
    END-POINT        -1322.5193    -20.8181    1239.0217    0.5000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -76.2000    -1848.5455    478.9369    3.0000
    END-POINT        -1278.9437    -1848.5455    478.9369    3.0000
    ITEM-CODE  PA80
    ITEM-DESCRIPTION  PIPE, SEAMLESS, 40, PE, ASTM A106
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  11.2802612718861
PIPE
    END-POINT        -50.8000    -390.4823    963.2699    2.0000
    END-POINT        -1271.7193    -390.4823    963.2699    2.0000
    ITEM-CODE  PA50
    ITEM-DESCRIPTION  PIPE, SEAMLESS, 40, PE, ASTM A106
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  5.44666969064683
WELD
    END-POINT        -1271.7193    -390.4823    963.2699    2.0000
    END-POINT        -1271.7193    -390.4823    963.2699    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        0.0000    -1772.3455    478.9369    3.0000  BW
    END-POINT        -76.2000    -1848.5455    478.9369    3.0000  BW
    CENTRE-POINT     0.0000    -1848.5455    478.9369
    SKEY  ELBW
    ITEM-CODE  EA80
    ITEM-DESCRIPTION  ELL 90 SR, BW, ASME B16.9
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    WEIGHT  1.36079107321056
WELD
    END-POINT        -76.2000    -1848.5455    478.9369    3.0000
    END-POINT        -76.2000    -1848.5455    478.9369    3.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        -0.0000    -441.2823    963.2699    2.0000  BW
    END-POINT        -50.8000    -390.4823    963.2699    2.0000  BW
    CENTRE-POINT     -0.0000    -390.4823    963.2699
    SKEY  ELBW
    ITEM-CODE  EA50
    ITEM-DESCRIPTION  ELL 90 SR, BW, ASME B16.9
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    WEIGHT  0.45359702440352
WELD
    END-POINT        -50.8000    -390.4823    963.2699    2.0000
    END-POINT        -50.8000    -390.4823    963.2699    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        -0.0000    -935.4488    1494.0466    2.5000  BW
    END-POINT        -0.0000    -871.9488    1557.5466    2.5000  BW
    CENTRE-POINT     -0.0000    -935.4488    1557.5466
    SKEY  ELBW
    ITEM-CODE  EA65
    ITEM-DESCRIPTION  ELL 90 SR, BW, ASME B16.9
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    WEIGHT  0.966161661979497
WELD
    END-POINT        -0.0000    -871.9488    1557.5466    2.5000
    END-POINT        -0.0000    -871.9488    1557.5466    2.5000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -0.0000    -871.9488    1557.5466    2.5000
    END-POINT        -0.0000    -272.5522    1557.5466    2.5000
    ITEM-CODE  PA65
    ITEM-DESCRIPTION  PIPE, SEAMLESS, 40, PE, ASTM A106
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  8.63133448244579
PIPE
    END-POINT        -0.0000    -935.4488    1039.4699    2.5000
    END-POINT        -0.0000    -935.4488    1494.0466    2.5000
    ITEM-CODE  PA65
    ITEM-DESCRIPTION  PIPE, SEAMLESS, 40, PE, ASTM A106
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  8.63133448244579
WELD
    END-POINT        -0.0000    -935.4488    1494.0466    2.5000
    END-POINT        -0.0000    -935.4488    1494.0466    2.5000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -0.0000    -865.5988    963.2699    2.0000
    END-POINT        -0.0000    -441.2823    963.2699    2.0000
    ITEM-CODE  PA50
    ITEM-DESCRIPTION  PIPE, SEAMLESS, 40, PE, ASTM A106
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  5.44666969064683
WELD
    END-POINT        -0.0000    -441.2823    963.2699    2.0000
    END-POINT        -0.0000    -441.2823    963.2699    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -0.0000    -935.4488    1039.4699    2.5000
    END-POINT        -0.0000    -935.4488    1039.4699    2.5000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
TEE
    END-POINT        -0.0000    -935.4488    887.0699    2.5000  BW
    END-POINT        -0.0000    -935.4488    1039.4699    2.5000  BW
    CENTRE-POINT     -0.0000    -935.4488    963.2699
    BRANCH1-POINT    -0.0000    -865.5988    963.2699    2.0000  BW
    SKEY  TEBW
    ITEM-CODE  TR65X50
    ITEM-DESCRIPTION  TEE (RED), SCH 40, BW, ASME B16.9
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  2.2679851220176
WELD
    END-POINT        -0.0000    -865.5988    963.2699    2.0000
    END-POINT        -0.0000    -865.5988    963.2699    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -0.0000    -935.4488    561.4869    2.5000
    END-POINT        -0.0000    -935.4488    887.0699    2.5000
    ITEM-CODE  PA65
    ITEM-DESCRIPTION  PIPE, SEAMLESS, 40, PE, ASTM A106
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  8.63133448244579
WELD
    END-POINT        -0.0000    -935.4488    887.0699    2.5000
    END-POINT        -0.0000    -935.4488    887.0699    2.5000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -0.0000    -935.4488    561.4869    2.5000
    END-POINT        -0.0000    -935.4488    561.4869    2.5000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.0000    -1021.3008    478.9369    3.0000
    END-POINT        0.0000    -1772.3455    478.9369    3.0000
    ITEM-CODE  PA80
    ITEM-DESCRIPTION  PIPE, SEAMLESS, 40, PE, ASTM A106
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  11.2802612718861
WELD
    END-POINT        0.0000    -1772.3455    478.9369    3.0000
    END-POINT        0.0000    -1772.3455    478.9369    3.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
TEE
    END-POINT        0.0000    -849.5968    478.9369    3.0000  BW
    END-POINT        0.0000    -1021.3008    478.9369    3.0000  BW
    CENTRE-POINT     0.0000    -935.4488    478.9369
    BRANCH1-POINT    -0.0000    -935.4488    561.4869    2.5000  BW
    SKEY  TEBW
    ITEM-CODE  TR80X65
    ITEM-DESCRIPTION  TEE (RED), SCH 40, BW, ASME B16.9
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  3.17517917082464
WELD
    END-POINT        0.0000    -1021.3008    478.9369    3.0000
    END-POINT        0.0000    -1021.3008    478.9369    3.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        0.0000    -849.5968    478.9369    3.0000
    END-POINT        0.0000    -849.5968    478.9369    3.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.0000    -98.5520    478.9369    3.0000
    END-POINT        0.0000    -849.5968    478.9369    3.0000
    ITEM-CODE  PA80
    ITEM-DESCRIPTION  PIPE, SEAMLESS, 40, PE, ASTM A106
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  11.2802612718861
WELD
    END-POINT        0.0000    -98.5520    478.9369    3.0000
    END-POINT        0.0000    -98.5520    478.9369    3.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.0000    0.0000    0.0000    4.0000
    END-POINT        0.0000    0.0000    374.2889    4.0000
    ITEM-CODE  PA100
    ITEM-DESCRIPTION  PIPE, SEAMLESS, 40, PE, ASTM A106
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  16.0721400707611
WELD
    END-POINT        0.0000    0.0000    374.2889    4.0000
    END-POINT        0.0000    0.0000    374.2889    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
TEE
    END-POINT        0.0000    0.0000    374.2889    4.0000  BW
    END-POINT        0.0000    0.0000    583.5849    4.0000  BW
    CENTRE-POINT     0.0000    0.0000    478.9369
    BRANCH1-POINT    0.0000    -98.5520    478.9369    3.0000  BW
    SKEY  TEBW
    ITEM-CODE  TR100X80
    ITEM-DESCRIPTION  TEE (RED), SCH 40, BW, ASME B16.9
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  5.21636578064048
PIPE
    END-POINT        0.0000    0.0000    583.5849    4.0000
    END-POINT        0.0000    0.0000    898.4000    4.0000
    ITEM-CODE  PA100
    ITEM-DESCRIPTION  PIPE, SEAMLESS, 40, PE, ASTM A106
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  16.0721400707611
WELD
    END-POINT        0.0000    0.0000    583.5849    4.0000
    END-POINT        0.0000    0.0000    583.5849    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        0.0000    0.0000    898.4000    4.0000
    END-POINT        0.0000    0.0000    898.4000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        0.0000    0.0000    898.4000    4.0000  BW
    END-POINT        0.0000    101.6000    1000.0000    4.0000  BW
    CENTRE-POINT     0.0000    0.0000    1000.0000
    SKEY  ELBW
    ITEM-CODE  EA100
    ITEM-DESCRIPTION  ELL 90 SR, BW, ASME B16.9
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    WEIGHT  2.834981402522
ELBOW
    END-POINT        0.0000    103.1161    1752.2176    4.0000  BW
    END-POINT        0.0000    1.5161    1853.8176    4.0000  BW
    CENTRE-POINT     0.0000    1.5161    1752.2176
    SKEY  ELBW
    ITEM-CODE  EA100
    ITEM-DESCRIPTION  ELL 90 SR, BW, ASME B16.9
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    WEIGHT  2.834981402522
WELD
    END-POINT        0.0000    1.5161    1853.8176    4.0000
    END-POINT        0.0000    1.5161    1853.8176    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.0000    1.5161    1853.8176    4.0000
    END-POINT        0.0000    1.5161    2477.1978    4.0000
    ITEM-CODE  PA100
    ITEM-DESCRIPTION  PIPE, SEAMLESS, 40, PE, ASTM A106
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  16.0721400707611
WELD
    END-POINT        0.0000    101.6000    1000.0000    4.0000
    END-POINT        0.0000    101.6000    1000.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.0000    101.6000    1000.0000    4.0000
    END-POINT        0.0000    645.3520    1000.0000    4.0000
    ITEM-CODE  PA100
    ITEM-DESCRIPTION  PIPE, SEAMLESS, 40, PE, ASTM A106
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  16.0721400707611
PIPE
    END-POINT        0.0000    648.4000    1752.2176    4.0000
    END-POINT        0.0000    103.1161    1752.2176    4.0000
    ITEM-CODE  PA100
    ITEM-DESCRIPTION  PIPE, SEAMLESS, 40, PE, ASTM A106
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  16.0721400707611
WELD
    END-POINT        0.0000    103.1161    1752.2176    4.0000
    END-POINT        0.0000    103.1161    1752.2176    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        0.0000    645.3520    1000.0000    4.0000
    END-POINT        0.0000    645.3520    1000.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
TEE
    END-POINT        0.0000    645.3520    1000.0000    4.0000  BW
    END-POINT        0.0000    854.6480    1000.0000    4.0000  BW
    CENTRE-POINT     0.0000    750.0000    1000.0000
    BRANCH1-POINT    0.0000    750.0000    1104.6480    4.0000  BW
    SKEY  TEBW
    ITEM-CODE  TE100
    ITEM-DESCRIPTION  TEE, SCH 40, BW, ASME B16.9
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  5.89676131724576
ELBOW
    END-POINT        0.0000    750.0000    1650.6176    4.0000  BW
    END-POINT        0.0000    648.4000    1752.2176    4.0000  BW
    CENTRE-POINT     0.0000    750.0000    1752.2176
    SKEY  ELBW
    ITEM-CODE  EA100
    ITEM-DESCRIPTION  ELL 90 SR, BW, ASME B16.9
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    WEIGHT  2.834981402522
WELD
    END-POINT        0.0000    648.4000    1752.2176    4.0000
    END-POINT        0.0000    648.4000    1752.2176    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        0.0000    750.0000    1104.6480    4.0000
    END-POINT        0.0000    750.0000    1104.6480    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.0000    750.0000    1650.6176    4.0000
    END-POINT        0.0000    750.0000    1104.6480    4.0000
    ITEM-CODE  PA100
    ITEM-DESCRIPTION  PIPE, SEAMLESS, 40, PE, ASTM A106
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  16.0721400707611
WELD
    END-POINT        0.0000    750.0000    1650.6176    4.0000
    END-POINT        0.0000    750.0000    1650.6176    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.0000    854.6480    1000.0000    4.0000
    END-POINT        0.0000    1398.4000    1000.0000    4.0000
    ITEM-CODE  PA100
    ITEM-DESCRIPTION  PIPE, SEAMLESS, 40, PE, ASTM A106
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  16.0721400707611
WELD
    END-POINT        0.0000    854.6480    1000.0000    4.0000
    END-POINT        0.0000    854.6480    1000.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        0.0000    1398.4000    1000.0000    4.0000
    END-POINT        0.0000    1398.4000    1000.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        0.0000    1398.4000    1000.0000    4.0000  BW
    END-POINT        0.0000    1500.0000    1101.6000    4.0000  BW
    CENTRE-POINT     0.0000    1500.0000    1000.0000
    SKEY  ELBW
    ITEM-CODE  EA100
    ITEM-DESCRIPTION  ELL 90 SR, BW, ASME B16.9
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    WEIGHT  2.834981402522
WELD
    END-POINT        0.0000    1500.0000    1101.6000    4.0000
    END-POINT        0.0000    1500.0000    1101.6000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.0000    1500.0000    1101.6000    4.0000
    END-POINT        0.0000    1500.0000    1936.5004    4.0000
    ITEM-CODE  PA100
    ITEM-DESCRIPTION  PIPE, SEAMLESS, 40, PE, ASTM A106
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  16.0721400707611
WELD
    END-POINT        0.0000    1500.0000    1936.5004    4.0000
    END-POINT        0.0000    1500.0000    1936.5004    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        0.0000    1500.0000    1936.5004    4.0000  BW
    END-POINT        44.9010    1500.0000    2044.9010    4.0000  BW
    CENTRE-POINT     0.0000    1500.0000    2000.0000
    SKEY  ELBW
    ITEM-CODE  EC100
    ITEM-DESCRIPTION  ELL 45 LR, BW, ASME B16.9
    FABRICATION-ITEM
    ANGLE   4500
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    WEIGHT  1.9459312346911
WELD
    END-POINT        44.9010    1500.0000    2044.9010    4.0000
    END-POINT        44.9010    1500.0000    2044.9010    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        44.9010    1500.0000    2044.9010    4.0000
    END-POINT        808.5249    1500.0000    2808.5249    4.0000
    ITEM-CODE  PA100
    ITEM-DESCRIPTION  PIPE, SEAMLESS, 40, PE, ASTM A106
    FABRICATION-ITEM
    PIPING-SPEC  SIS
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  16.0721400707611
MATERIALS
ITEM-CODE  PA100
    DESCRIPTION  PIPE, SEAMLESS, 40, PE, ASTM A106
    Schedule  40
    PressureClass  
    Material  
ITEM-CODE  Buttweld-4
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  TR100X80
    DESCRIPTION  TEE (RED), SCH 40, BW, ASME B16.9
    Schedule  40
    PressureClass  
    Material  
ITEM-CODE  EA100
    DESCRIPTION  ELL 90 SR, BW, ASME B16.9
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  TE100
    DESCRIPTION  TEE, SCH 40, BW, ASME B16.9
    Schedule  40
    PressureClass  
    Material  
ITEM-CODE  EC100
    DESCRIPTION  ELL 45 LR, BW, ASME B16.9
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  Buttweld-3
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  PA80
    DESCRIPTION  PIPE, SEAMLESS, 40, PE, ASTM A106
    Schedule  40
    PressureClass  
    Material  
ITEM-CODE  TR80X65
    DESCRIPTION  TEE (RED), SCH 40, BW, ASME B16.9
    Schedule  40
    PressureClass  
    Material  
ITEM-CODE  EA80
    DESCRIPTION  ELL 90 SR, BW, ASME B16.9
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  Buttweld-2.5
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  PA65
    DESCRIPTION  PIPE, SEAMLESS, 40, PE, ASTM A106
    Schedule  40
    PressureClass  
    Material  
ITEM-CODE  TR65X50
    DESCRIPTION  TEE (RED), SCH 40, BW, ASME B16.9
    Schedule  40
    PressureClass  
    Material  
ITEM-CODE  EA65
    DESCRIPTION  ELL 90 SR, BW, ASME B16.9
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  Buttweld-2
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  PA50
    DESCRIPTION  PIPE, SEAMLESS, 40, PE, ASTM A106
    Schedule  40
    PressureClass  
    Material  
ITEM-CODE  EA50
    DESCRIPTION  ELL 90 SR, BW, ASME B16.9
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  Tapweld-2
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SKL50X15
    DESCRIPTION  SOCKOLET, 3000 LB, BWXSW,  LG, MSS SP-97
    Schedule  
    PressureClass  3000
    Material  
ITEM-CODE  Socketweld-0.5
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  PA15
    DESCRIPTION  PIPE, SEAMLESS, 80, PE, ASTM A106
    Schedule  80
    PressureClass  
    Material  
ITEM-CODE  EB15
    DESCRIPTION  ELL 90, 3000 LB, SW, ASME B16.11
    Schedule  
    PressureClass  3000
    Material  
ITEM-CODE  EC15
    DESCRIPTION  ELL 45, 3000 LB, SW, ASME B16.11
    Schedule  
    PressureClass  3000
    Material  